page-preference {
    ion-content{
        background-color: black !important;
    }

    #tittle{
        text-align: center;
        color:rgb(236, 32, 66);
    }

    #colorList{
        background-color: rgb(236, 32, 66) !important;
    }

    #color{
        background-color: black !important;
    }
}
