page-crud1 {
    ion-content{
        background-color: black !important;
    }

    #tittle{
        text-align: center;
        color: rgb(27, 167, 233);
    }

    #colorList{
        background-color: white !important;
    }

    #prueba{
        color: rgb(27, 167, 233);
    }

    
}
