page-listgames {
    ion-content{
        background-color:red !important;
    }

    #tittle{
        text-align: center;
        color: black;
    }

    #colorList{
        background-color: black !important;
    }

    #h2{
        color: aliceblue;
    }

    #p{
        color:red;
    }
}
