page-home {
    ion-content{
        background-color: black !important;
    }

    #tittle{
        text-align: center;
        color: orangered;
    }

    #curiosity{
        color: orangered;
    }
}
