page-consoles {
    ion-content{
        background-color: black !important;
    }

    #tittle{
        text-align: center;
        color: yellow;
    }
    #colorList{
        background-color: black !important; 
    }

    #letra{
        color: yellow;
    }
    p{
        width: 100px;
    }
}
